<div class="form-container">
  <div class="wrapper">
    <h2>Visualizza Prenotazione</h2>
    <button class="close-button" (click)="chiudi()">
      <i class="fas fa-times"></i>
    </button>
    <div class="input-box">
      <input type="text" [value]="utente" pInputText readonly />
    </div>

    <div class="input-box">
      <input type="text" [value]="data" pInputText readonly />
    </div>

    <div class="input-box">
      <input type="text" [value]="sede" pInputText readonly />
    </div>

    <div class="container-partecipanti">
      <h3>Partecipanti</h3>
      <div class="partecipanti-list">
        <!-- @for(partecipante of partecipanti; track partecipante){
        <p>{{ partecipante.username }},</p>
        } -->
      </div>
    </div>
    @if(!seiGiaPartecipante){
        <div class="input-box button">
          <input
            type="submit"
            value="Partecipa alla prenotazione"
            (click)="aggiungitiAllaPrenotazione()"
          />
        </div>    
    }@else{
        <div class="input-box button">
            <input
              type="submit"
              value="Rimuoviti dalla prenotazione"
              (click)="rimuovitiDallaPrenotazione()"
            />
          </div>    
    }
  </div>
</div>
