<div class="welcome-container">
    <div class="welcome-content">
        <img src="https://www.synclab.it/images/navbar/synclab_logo_blue.svg" class="img-fluid mb-5" alt="Sync Lab">
        <h1>
            <span style="--index: 1;">S</span>
            <span style="--index: 2;">y</span>
            <span style="--index: 3;">n</span>
            <span style="--index: 4;">c</span>
            <span style="--index: 5;">P</span>
            <span style="--index: 6;">l</span>
            <span style="--index: 7;">a</span>
            <span style="--index: 8;">n</span>
            <span style="--index: 9;">n</span>
            <span style="--index: 10;">e</span>
            <span style="--index: 11;">r</span>
        </h1>
        <p>Gestisci le prenotazioni delle sedi aziendali</p>
        <div class="buttons">
            <button [routerLink]="['/accedi']" class="btn btn-login">Accedi</button>
            <button [routerLink]="['/registrati']" class="btn btn-register">Registrati</button>
        </div>
    </div>
</div>