<div class="leggenda-container">
  <div class="wrapper">
    <h2>Leggenda calendario</h2>
    <button class="close-button" (click)="chiudi()">
      <i class="fas fa-times"></i>
    </button>
    <div class="color-legend">
      <div class="color-box" style="background-color: #ff8a00"></div>
      <span>Sede Verona</span>
    </div>
    <div class="color-legend">
      <div class="color-box" style="background-color: #00ff8a"></div>
      <span>Sede Padova</span>
    </div>
    <div class="color-legend">
      <div class="color-box" style="background-color: #8a00ff"></div>
      <span>Sede Milano</span>
    </div>
    <div class="color-legend">
      <div class="color-box" style="background-color: #ff008a"></div>
      <span>Sede Napoli</span>
    </div>
    <div class="color-legend">
      <div class="color-box" style="background-color: #4000ff"></div>
      <span>Sede Como</span>
    </div>
    <div class="color-legend">
      <div class="color-box" style="background-color: #ff001e"></div>
      <span>Sede Roma</span>
    </div>
  </div>
</div>
