<div class="filtro-container">
  <div class="wrapper">
    <h2>Filtro</h2>
    <button class="close-button" (click)="chiudi()">
      <i class="fas fa-times"></i>
    </button>
    <form [formGroup]="filtroForm" (ngSubmit)="submitForm()">
      @if(checkSede('verona')){
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          formControlName="verona"
          value="Verona"
          id="flexCheckDefault"
        />
        <label class="form-check-label" for="flexCheckDefault">
          Sede Verona
        </label>
      </div>
      } @if(checkSede('padova')){

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          formControlName="padova"
          value="Padova"
          id="flexCheckChecked"
        />
        <label class="form-check-label" for="flexCheckChecked">
          Sede Padova
        </label>
      </div>
      } @if(checkSede('milano')){

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          formControlName="milano"
          value="Milano"
          id="flexCheckChecked"
        />
        <label class="form-check-label" for="flexCheckChecked">
          Sede Milano
        </label>
      </div>
      } @if(checkSede('como')){
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          formControlName="como"
          value="Como"
          id="flexCheckChecked"
        />
        <label class="form-check-label" for="flexCheckChecked">
          Sede Como
        </label>
      </div>

      } @if (checkSede('napoli')) {
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          formControlName="napoli"
          value="Napoli"
          id="flexCheckChecked"
        />
        <label class="form-check-label" for="flexCheckChecked">
          Sede Napoli
        </label>
      </div>

      } @if (checkSede('roma')) {
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          formControlName="roma"
          value="Roma"
          id="flexCheckChecked"
        />
        <label class="form-check-label" for="flexCheckChecked">
          Sede Roma
        </label>
      </div>

      }
      <div class="input-box button">
        <input type="submit" value="Filtra" />
      </div>
    </form>
  </div>
</div>
