/* home-page.css */
.user {
    margin-top: 70px; 
    padding: 20px;
}

.user h1 {
    position: relative;
    font-size: 22px;
    font-weight: 600;
    color: #333;
}

.user h1::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 28px;
    border-radius: 12px;
    background: #FF8A00;
}
