<div class="form-container">
  <div class="wrapper">
    <h2>Aggiungi Prenotazione</h2>
    <button class="close-button" (click)="chiudi()">
      <i class="fas fa-times"></i>
    </button>
    <form [formGroup]="addPrenotazioneForm" (ngSubmit)="submitForm()">
      <div class="input-box">
        <input
          type="text"
          formControlName="date"
          placeholder="data prenotazione"
          pInputText
          required
        />
      </div>
      <div class="input-box">
        <input
          type="text"
          formControlName="userUsername"
          placeholder="utente"
          pInputText
          required
          readonly
        />
      </div>
      <div class="input-box">
        <select
          class="form-select"
          formControlName="sedeName"
          required
        >
          <option selected>Sedi</option>
          @for(sede of currentSedi; track sede){
          <option value="{{sede}}">{{sede | capitalize}}</option>
          }
        </select>
      </div>
      <div class="input-box button">
        <input
          type="submit"
          value="Aggiungi prenotazione"
          [disabled]="addPrenotazioneForm.invalid || isDefaultSedeSelected()"
        />
      </div>
    </form>
  </div>
</div>
